<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:4px;">
<div class="col-10" >

    <h4 style="margin-bottom:4px;">{{place['title']}}</h4>
  <div><b> Location:</b>{{place['location']}}
  </div>
    {% if 'salary' in place %}
  <div><b>Salary:</b>{{place['salary']}}
  </div>
    {% endif %}
</div>
  <div class="col-2">

     <a href="mailto:thanmaym@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20Name%3A%3Cyour-name%3E%0D%0A%0D%0AMy%20Resume%20Link%3A%3Cresume%20link%3E%0D%0A%0D%0AMy%20LinkedIn%20Link%3A%3CLinkedin%3E%0D%0A "type="button" class="btn btn-outline-primary">Apply</a>    


    
  </div>
  </div>  